@inherits RazorLight.TemplatePage<SSMLBuilderTests.Game>

<speak>
    <p>
        The clock is ticking down
        5<break time='0.3s' />
        4<break time='0.3s' />
        3<break time='0.3s' />
        2<break time='0.3s' />
        1<break time='0.8s' />

        @if (Model.PlayerAmount == 5 || Model.PlayerAmount == 6)
        {
            <p>
                We started with less than 7 people.
                <break time='5s' />
                3<break time='0.3s' />
                2<break time='0.3s' />
                1<break time='0.3s' />
            </p>
        }
        else
        {
            <p>
                We started with more than 6 people.
                <break time='5s'/>
                3<break time='0.3s'/>
                2<break time='0.3s'/>
                1<break time='0.3s'/>
            </p>
        }
        
        This is the end
    </p>
</speak>